<div w11k-slide-master="regular">
  <span w11k-slide-part-source="header">
    AngularJS<br/>
    <small>Bespiel</small>
  </span>

  <div w11k-slide-part-source="content">
<pre w11k-pretty-print lang="html">
&lt;input type=&quot;text&quot; ng-model=&quot;text&quot;/&gt;
&lt;div ng-bind=&quot;text&quot;&gt;&lt;/div&gt;
&lt;div ng-bind-html=&quot;text&quot;&gt;&lt;/div&gt;
</pre>

    <div style="margin-top: 1em">
      <input type="text" ng-model="text"/>
      <div ng-bind="text"></div>
      <div ng-bind-html="text"></div>
    </div>

  </div>
</div>
