// ****************************************************************************************************
// general
// ****************************************************************************************************

// Core variables and mixins
@import "twbs-bootstrap-sass/assets/stylesheets/bootstrap//variables";
@import "twbs-bootstrap-sass/assets/stylesheets/bootstrap/mixins";

// Reset
@import "twbs-bootstrap-sass/assets/stylesheets/bootstrap/normalize";
@import "twbs-bootstrap-sass/assets/stylesheets/bootstrap/print";

// Core CSS
@import "twbs-bootstrap-sass/assets/stylesheets/bootstrap/scaffolding";
@import "twbs-bootstrap-sass/assets/stylesheets/bootstrap/type";
@import "twbs-bootstrap-sass/assets/stylesheets/bootstrap/code";
@import "twbs-bootstrap-sass/assets/stylesheets/bootstrap/grid";
@import "twbs-bootstrap-sass/assets/stylesheets/bootstrap/buttons";

// Utility classes
@import "twbs-bootstrap-sass/assets/stylesheets/bootstrap/utilities";
@import "twbs-bootstrap-sass/assets/stylesheets/bootstrap/responsive-utilities";

// ****************************************************************************************************
// w11k-slides config
// ****************************************************************************************************

$herbstcampus_red: lighten(#7f1b34, 2%);
$herbstcampus_dark: #6b6150;
$herbstcampus_light: #b7b2a6;

$w11k-slides-color-1: $herbstcampus_red;
$w11k-slides-color-2: $herbstcampus_dark;

$w11k-slides-title-top-text-color: $herbstcampus_red;
$w11k-slides-title-top-background: white;
$w11k-slides-title-separator-color: $herbstcampus_dark;
$w11k-slides-title-bottom-text-color: $herbstcampus_red;
$w11k-slides-title-bottom-background: $herbstcampus_light;

$w11k-cornerRibbon-distance: 5em;

$w11k-slides-slide-regular-header-logo: url("assets/images/AngularJS-Shield.png");

@import "w11k-slides/dist/w11k-slides";

.slides.export {
  font-size: 10px;

  .img-responsive {
    max-width: 10cm;
    max-height: 10cm;
  }
}

.slides.screen .slide.centered {
  padding: 2em 3em;
}

.slide {
  h1 {
    color: $w11k-slides-color-2;
  }

  a[href^="http"] {
    text-decoration: underline;
  }

  img + ul, pre + ul {
    margin-top: 1em;
  }


}

.slides.screen .slide {
  .source {
    font-size: 0.7em;
    margin-left: 2em;

    &, & a {
      color: lighten($gray-base, 70%);
    }
  }

  li.highlight {
    color: $theCodeCampus_orange;
  }
}

pre.prettyprint.linenums ol.linenums>li {
  white-space: pre-wrap;
}

.img-responsive.centered {
  margin: 0 auto;
}

.slides .slide blockquote {
  font-size: 1.5em;
  margin-left: 0.1em;
}

.slides .slide.centered .header .pre {
  text-transform: none;
}

// ****************************************************************************************************
// slides content
// ****************************************************************************************************

.slides .slide ul.list-unstyled {
  > li {
    margin-left: 0.5em;

    &:before {
      content: ''
    }
  }

}

.slide.title {

  overflow: hidden;
  div.margin-top, div.margin-bottom {
    position: relative;
    height: 10%;
    background-color: $herbstcampus_dark;
  }

  div.margin-bottom {
    height: 20%;
  }

  div.top {
    height: 20%;

    .content {
      top: 50%;
      @include transform(translateY(-45%));
    }
  }

  div.bottom {
    height: 60%;
    border-top-width: 0.2em;
  }

  .logo img {
    margin: 0 auto 0.5em;
  }

  h1 {
    color: $w11k-slides-title-bottom-text-color;
    font-size: 2em;
  }

  h1 small {
    color: $w11k-slides-title-bottom-text-color;
  }

  h2 {
    color: $herbstcampus_dark;
    font-size: 1.3em;
    font-weight: normal;

    small {
      color: $herbstcampus_dark;
    }

    &:after {
      display: none;
    }
  }

}

.slide.end {
  @include vcenter;

  color: $w11k-slides-color-1;
  a, a:visited {
    color: $w11k-slides-color-1;
  }
}
